:root{
    --color-nav: moccasin;
}
* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
header{
    background-color: var(--color-nav);
    min-height: 6rem;
}
.navigeitor {
    padding: 5% 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
    margin-left: 24%;
    /* margin-right: 0;  */
}
.item {
    display: inline-block;
    font-weight: bold;
    padding-right: 1rem;
} 
.item a {
    text-decoration: none;
    color: red;
}
.container {
    font-size: 1.6rem;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
}